<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!-- <form>
<table>
<tr>
<td>Job Title</td>
<td><input type="text" ng-model="job.jobTitle"></td>
</tr>


<tr>
<td>Job Description</td>
<td><textarea ng-model="job.jobDescription"></textarea></td>
</tr>

<tr>
<td>Skills Required</td>
<td><input type="text" ng-model="job.skillsRequired"></td>
</tr>

<tr>
<td>Salary</td>
<td><input type="text" ng-model="job.salary"></td>
</tr>

<tr>
<td>location</td>
<td><input type="text" ng-model="job.location"></td>
</tr>

<tr><td>
<input type="submit" value="Post Job" ng-click="saveJob()">
</td>
</tr>
</table>

</form> -->
<div class="panel panel-default">
  <div class="panel-body">
<div class="form-group">
      <label class="col-sm-2 control-label">Job Title</label>
      <div class="col-sm-6">
        <input class="form-control" id="focusedInput" type="text" ng-model="job.jobTitle">
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">Job Description</label>
      <div class="col-sm-6">
        <input class="form-control" id="focusedInput" type="text" ng-model="job.jobDescription" >
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-2 control-label">Skills Required</label>
      <div class="col-sm-6">
        <input class="form-control" id="focusedInput" type="text" ng-model="job.skillsRequired" >
      </div>
    </div>
    
      <div class="form-group">
      <label class="col-sm-2 control-label">Location</label>
      <div class="col-sm-6">
        <input class="form-control" id="focusedInput" type="text" ng-model="job.location">
      </div>
    </div>
     <div class="form-group">
      <label class="col-sm-2 control-label">Salary</label>
      <div class="col-sm-6">
        <input class="form-control" id="focusedInput" type="text" ng-model="job.salary" >
      </div>
    </div>
    </div>
    </div>
</body>
</html>